@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}


@media (max-width: 760px) {
  .nav-gradient {
    background: linear-gradient(to bottom, #1a202cef, rgba(31, 30, 43, 0.548));
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}